<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navigation header</title>
</head>
<body>
<header class="container-fluid top-left nav-down">
    <a id="nav-icon1" data-bs-toggle="offcanvas" href=".banner" role="button" aria-controls="banner">
        <span></span>
        <span></span>
    </a>
    <nav class="top-nav col-8">
        <ul>
            <li class="nav-item"><a class="nav-link hover-underline" href="#">RULE<span>S</span></a></li>
            <li class="nav-item"><a class="nav-link hover-underline" href="#">CLASSE<span>S</span></a></li>
            <li class="nav-item"><a class="nav-link hover-underline" href="#">SPELL<span>S</span></a></li>
        </ul>
    </nav>
    <button class="btn btn-dark top-right">
        <i class="fas fa-search"></i>
    </button>
    <div class="banner offcanvas offcanvas-top" id="menu-group">
        <ul>
            <li><a href="#">LINK 1</a></li>
            <li><a href="#">LINK 2</a></li>
            <li><a href="#">LINK 3</a></li>
        </ul>
    </div>
</header>
</body>
</html>
